<footer>
  <p>Copyright © 2023 | Bloggers</p>
  <div class="list">
    <span><a href="#">Privacy Policy</a></span>
    <span><a href="#">Terms of Use</a></span>
    <span><a href="#">Contact Us</a></span>
  </div>
</footer>
