<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website</title>
    <style>
      * {
        font-family: "Courier New", Courier, monospace;
        box-sizing: border-box;
      }
      button {
        background-color: blue;
        color: white;
        border-radius: 1rem;
        width: 5rem;
        height: 2rem;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the website</h1>
    <p>Fell free to discover new items, you find</p>
    <button>Discover</button>
  </body>
</html>
