<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website</title>
    <style>
      * {
        font-family: "Courier New", Courier, monospace;
        box-sizing: border-box;
      }
      .container {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      h1 {
        font-size: xx-large;
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>The page does not exist</p>
    </div>
  </body>
</html>
