<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bloggers | <%= title%></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Homepage</a>
    </nav>
    <h1 class="heading">About</h1>
    <p class="subheading">
      A blog page is a section of a website where a blogger or author regularly
      posts articles or written content, usually on a specific topic or theme.
      It is typically used for personal expression, sharing opinions and ideas,
      or as a platform for discussions and debates. A blog page usually includes
      the post title, a header image, the author's name and bio, categories and
      tags for organizing content, and the ability for readers to leave comments
      and engage in conversation. The layout and design of a blog page can vary
      greatly, but it is often clean and simple, with an emphasis on the written
      content.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
