<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bloggers | <%= title%></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Homepage</a>
      <a href="/blogs/about">About</a>
    </nav>
    <h1 class="heading">Bloggerz</h1>
    <p class="subheading">Create, Read and Blog</p>

    <div class="form-container">
      <form action="/blogs" method="POST">
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" required />

        <label for="author">Author</label>
        <input type="text" name="author" id="author" required />

        <label for="blogContent">Blog Content</label>
        <textarea
          id="blogContent"
          name="blogContent"
          id=""
          cols="70"
          rows="5"
        ></textarea>

        <button>Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
